<footer class="bg-blue text-light pt-5 pb-5 jc-center">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-black mb-4 font-weight-bold text-primary">
          Nosotros
        </h5>
        <hr class="mb-4" />
        <p class="text-justify">
          Bienvenidos a Tesoros en Línea, su portal de confianza para encontrar los mejores artículos en subasta. Somos
          una empresa apasionada por conectar a compradores y vendedores de todo el mundo, ofreciendo una plataforma
          segura y eficiente para descubrir verdaderos tesoros. Nuestra misión es democratizar el acceso a subastas de
          calidad, brindando a nuestros usuarios la oportunidad de adquirir productos únicos y valiosos, desde
          antigüedades y coleccionables hasta tecnología de vanguardia y objetos de lujo.
        </p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-black text-uppercase mb-4 font-weight-bold text-primary">
          ¿cómo subastar?
        </h5>
        <hr class="mb-4" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae,
          alias quasi inventore quibusdam rerum aut, nobis eum sit laboriosam
          rem porro maiores fugit nemo, maxime culpa saepe natus corrupti
          voluptas.
        </p>
      </div>
    </div>
  </div>
</footer>