<div class="container">
    <span class="span mb-3">Iniciar Sesión</span>
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Correo electrónico</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Contraseña</label>
  </div>
  <!-- <div class="botonLogin"> -->
    <button type="button" class="btn btn-primary mb-3">Ingresar</button>
  <!-- </div> -->
  
</div>
