<div class="container">
  <img class="loginImg" src="../../../../assets/images/login.png" alt="Inicio Sesión">
  <span class="span mb-3">Iniciar Sesión</span>
  @if(!cargando){
  <form class="form" [formGroup]="formGroup">
    <div class="form-floating mb-3">
      <input formControlName="email" type="email" class="form-control" id="floatingInput"
        placeholder="name@example.com" />
      <label for="floatingInput">Correo electrónico</label>
    </div>
    <div class="form-floating">
      <input formControlName="clave" type="password" class="form-control" id="floatingPassword"
        placeholder="Password" />
      <label for="floatingPassword">Contraseña</label>
    </div>
  </form>
  <!-- <div class="botonLogin"> -->
  <button (click)="ingresar()" type="button" class="btn btn-primary mb-3 btn-lg">Ingresar</button>
  <!-- </div> -->
  <p class="mt-3">¿No tienes cuenta?<a routerLink="/registro">Registrarse</a></p>
  }
  @else {
    <app-spinner></app-spinner>
  }
</div>